$danger: #dc3545;
$baemin-primary: #2ac1bc;

// Category expenditure
$culture: #d092e2;
$transportation: #94d3cc;
$etc-expenditure: #817dce;
$food: #4ca1de;
$living: #4a6cc3;
$shopping: #4cb8b8;
$health: #6ed5eb;

// Category income
$salary: #b9d58c;
$pocket-money: #e6d267;
$etc-income: #e2b765;