$danger: #dc3545;
$danger-secondary: rgb(243, 216, 218);
$warning: #ffc107;
$warning-secondary: rgb(251, 230, 165);
$baemin-primary: #2ac1bc;
$baemin-dark: #219a95;

// Category expenditure
$culture: #d092e2;
$transportation: #94d3cc;
$etc-expenditure: #817dce;
$food: #4ca1de;
$living: #4a6cc3;
$shopping: #4cb8b8;
$health: #6ed5eb;

// Category income
$salary: #b9d58c;
$pocket-money: #e6d267;
$etc-income: #e2b765;

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-around() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-start() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-end() {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@mixin icon-btn() {
  border: none;
  background-color: transparent;
}
